BODY {
  background-color: #808080;
}

A.back {
  display: none;
  font: 12pt Helvetica;
  color: #F5F5DC; 
}

DIV.albums {
  min-height: 160px;
  width: 100%;
  overflow-x: auto;
}

DIV.container {
  display : inline;  
}

DIV.albums DIV.container {
  float: left;
  width: 210px;
  background-image: url( 'album.png' );
  background-repeat: no-repeat;
}

DIV.albums DIV.container DIV.title {
  margin-top: 35px;
  margin-right: 30px;
  font: 12pt Helvetica;
  color: #F5F5DC; 
  text-align: center;
}

DIV.albums DIV IMG {
  padding: 0px;
  margin-top: 30px;
  margin-left: 10px;
}

DIV.photo {
  display: none;
  border: 1px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
  height: 550px;
}

DIV.thumbs {
  display: none;
  border: 1px solid black;
  width: 100%;
  white-space: nowrap;
  overflow-x: auto;
  -ms-overflow-x: auto;
  overflow-y: hidden;
  -ms-overflow-x: hidden;
}

IMG.thumb {
  cursor: pointer;
  padding: 5px;
}